* {
    margin: 0;
    padding: 0;
}

body {
    background: black url('../imagens/fundo-madeira.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.phone-frame {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.phone-screen-iframe {
    position: absolute;
    overflow: hidden;
    width: 267px;
    height: 471px;
    background: blue url('../imagens/tela-home.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 1px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -49.5%);
}

.links-set {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style-type: none;
}

.logo {
    width: fit-content;
    border-radius: 50%;
    
    margin-bottom: 20px;
    transition-duration: 5ms;
}

#social_media-section {
    text-align: right;
}

#social_media-section img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px black;
}

#social_media-section img:hover {
    border: 2px solid white;
    box-shadow: 4px 4px 6px black;
    transition-duration: 1s;
}

.access-text {
    padding: 20px;
    text-align: center;
    background-color: red;
}

.access-link {
    color: white;
    font-weight: bold;
}

