* {
    margin: 0;
    padding: 0;
}

body {
    background: black url('../imagens/fundo-madeira.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.phone-frame {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.phone-screen-iframe {
    position: absolute;
    overflow: hidden;
    width: 267px;
    height: 471px;
    background: blue url('../imagens/tela-home.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 1px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -49.5%);
}

.phone-screen-iframe::-webkit-scrollbar {
    display: none;
}

.links-set {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo {
    display: block;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.384);
    margin-bottom: 24px;
}

